[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sociome"]
	path = sociome
	url = https://github.com/nikkrieger/sociome
[submodule "USpopcenters"]
	path = USpopcenters
	url = https://github.com/nikkrieger/uspopcenters
[submodule "withdots"]
	path = withdots
	url = https://github.com/nikkrieger/withdots
